.navbar {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  box-shadow: #ddd 70px 0px 26px;
  position: fixed;
  width: 100%;

  .navbar-left {
    // height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 20px;
    text-align: center;
    // border-bottom: 1px solid #ddd;
    h2 {
      margin: 0;
    }
    i.logo {
      font-size: xx-large;
      color: #f97416ee;
      margin-right: 10px;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;

    button {
      margin: 0 5px;

      &.logout {
        color: #d9534f;
      }
    }
    p-avatar {
      cursor: pointer;
    }
  }
}

.item-hide {
  display: none;
}
