.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  box-shadow: #ddd 27px 1px 26px;
  // clip-path: polygon(110% 0%, 100% 0%, 100% 100%, 0% 100%);

  .navbar-left {
    h3 {
      margin: 0;
      color: #333;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;

    button {
      margin: 0 5px;

      &.logout {
        color: #d9534f;
      }
    }
    p-avatar {
      cursor: pointer;
    }
  }
}

.item-hide {
  display: none;
}
