.navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border);
  position: fixed;
  width: 100%;

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      margin: 0;
      color: var(--foreground);
    }

    i.logo {
      font-size: xx-large;
      color: var(--primary);
      margin-right: 10px;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;

    button {
      margin: 0 5px;

      &.logout {
        color: #d9534f;
      }
    }
    p-avatar {
      cursor: pointer;
    }
  }
}

.item-hide {
  display: none;
}
