@if (isLoading) {
  <app-loader></app-loader>
}
<div class="demo-app">

    <div class='demo-app-main'>
        @if (calendarVisible && isBrowser) {
        <full-calendar [options]='calendarOptions'></full-calendar>
        }
    </div>

    <p-dialog [header]="selectedDate" [modal]="true" [(visible)]="visible" closable="false">
        <span class="p-text-secondary block mb-5">Enter your in\out day data </span>

        <!-- Day Off Switch -->
        <div class="flex align-items-center justify-content-between mb-3">
          <div class="flex align-items-center">
            <p-inputSwitch [(ngModel)]="isDayOff" (onChange)="onDayOffChange()"></p-inputSwitch>
            <label class="ml-2">Day Off</label>
          </div>
          @if (isDayOff) {
            <div class="flex align-items-center">
              <p-dropdown [options]="dayOffTags" [(ngModel)]="selectedTags" optionLabel="name" optionValue="value" placeholder="Select Type"></p-dropdown>
            </div>
          }
        </div>

        <div class="flex align-items-center gap-3 mb-3" [class.disabledTime]="isDayOff">
            <div class="flex-auto">
                <label for="calendar-12h" class="font-bold block mb-2">Check-In</label>
                <p-calendar inputId="calendar-timeonly" [(ngModel)]="check_In_time" [inline]="true" [timeOnly]="true" [showTime]="true" (onSelect)="validateCheckIn()" />
            </div>
            <div class="flex-auto">
                <label for="calendar-12h" class="font-bold block mb-2">Check-Out</label>
                <p-calendar inputId="calendar-timeonly" [(ngModel)]="check_Out_time" [inline]="true" [timeOnly]="true" [showTime]="true" (onSelect)="validateCheckOut()" />
            </div>
        </div>

        @if(isLate){
        <!-- Late Arrival Warning -->
        <div class="p-message p-message-warn mb-3">
            <div class="p-message-wrapper">
                <span class="p-message-icon pi pi-exclamation-triangle"></span>
                <span class="p-message-text">You arrived late! </span>
                <p-checkbox [(ngModel)]="lateExcuse" [binary]="true" label="Have an excuse?"></p-checkbox>
            </div>
        </div>
        }
        @if(isEarlyLeave){
        <!-- Early Departure Warning -->
        <div class="p-message p-message-warn mb-3">
            <div class="p-message-wrapper">
                <span class="p-message-icon pi pi-exclamation-triangle"></span>
                <span class="p-message-text">You left earlier than scheduled! </span>
                <p-checkbox [(ngModel)]="earlyLeaveExcuse" [binary]="true" label="Have an excuse?"></p-checkbox>
            </div>
        </div>
        }
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="cancelDialog()" />
            <p-button label="Save" (onClick)="onDialogSubmit()" />
        </div>
    </p-dialog>
</div>
