<div class="loader">
  <!-- <div class="spinner"></div> -->
  <div class="pt-5 pb-5 card-body">
    <svg
      class="mx-auto d-block"
      width="60"
      height="60"
      viewBox="0 0 60 60"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="loader_49">
        <g class="loader_circle_3" id="loader_49_1">
          <circle id="Ellipse 203" cx="30" cy="30" r="30" fill="transparent" />
          <circle id="Ellipse 204" cx="30" cy="28" r="27.5" stroke="#2B7EFF" />
        </g>
        <g class="loader_circle_3_counter" id="loader_49_2">
          <circle id="Ellipse 205" cx="30" cy="30" r="30" fill="transparent" />
          <circle id="Ellipse 206" cx="30" cy="26" r="25.5" stroke="#2B7EFF" />
        </g>
        <g class="loader_circle_2" id="loader_49_3">
          <circle id="Ellipse 207" cx="30" cy="30" r="30" fill="transparent" />
          <circle id="Ellipse 208" cx="30" cy="24" r="23.5" stroke="#2B7EFF" />
        </g>
        <g class="loader_circle_2_counter" id="loader_49_4">
          <circle id="Ellipse 209" cx="30" cy="30" r="30" fill="transparent" />
          <circle id="Ellipse 210" cx="30" cy="22" r="21.5" stroke="#2B7EFF" />
        </g>
        <g class="loader_circle_1" id="loader_49_5">
          <circle id="Ellipse 211" cx="30" cy="30" r="30" fill="transparent" />
          <circle id="Ellipse 212" cx="30" cy="20" r="19.5" stroke="#2B7EFF" />
        </g>
        <g class="loader_circle_1_counter" id="loader_49_6">
          <circle id="Ellipse 213" cx="30" cy="30" r="30" fill="transparent" />
          <circle id="Ellipse 214" cx="30" cy="18" r="17.5" stroke="#2B7EFF" />
        </g>
      </g>
    </svg>
  </div>
</div>
