/* login.component.scss */
.login-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  z-index: 9999999999;
}

.login-card {
  width: 100%;
  max-width: 28rem;
  background-color: var(--card);
  color: var(--card-foreground);
  padding: 2rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-lg);
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;

  .login-icon {
    display: flex;
    justify-content: center;
    color: var(--primary);
    margin-bottom: 1.5rem;

    .pi {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #0f172a;
  }
}

.login-form {
  .p-field {
    margin-bottom: 1rem;

    input {
      width: 100%;
      padding: 11px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }
  }

  .error-message {
    color: #dc2626;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }

  .login-button {
    width: 100%;
    margin-top: 1rem;
    padding: 11px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;

    &.p-button-secondary {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &.p-button-primary {
      background-color: #8bcffc; // Orange color when active
      border-color: #f97316;
      cursor: pointer;
    }

    .pi-spinner,
    .pi-lock {
      margin-right: 0.5rem;
    }
  }

  .login-credentials {
    text-align: center;
    margin-top: 1rem;
    color: #475569;
    font-size: 0.875rem;
  }
}
